footer{
    background-color: $color-secondary;
    nav{
    @include propiedades-flex (row,space-between,center);    
    // a{
    //     width: 45%;
    // }
}
    .logo{
        width: 10%;
        margin: 2em;
       }
       .redes{
        width: 10%;
        margin: 2em;
        color: white;
       }

    
    }